@import '@pendo/components/lib/es/components.css';

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Inter, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Sora, Helvetica, Arial, sans-serif;
}

[mdxtype='MDXLayout'] {
    h1 {
        font-size: 46px;
        margin: 16px 0;
    }

    h2 {
        font-size: 22px;
        margin-top: 64px;
    }

    h3 {
        font-size: 20px;
        margin-top: 64px;
    }

    h4 {
        font-size: 18px;
    }

    h5 {
        font-size: 16px;
    }

    h6 {
        font-size: 14px;
    }

    p {
        line-height: 135%;
        margin: 1.5em 0;
    }

    /* TODO: Find a way to customize this selector to something more semantically relevant */
    [parentname='blockquote'] {
        font-size: 18px;
    }

    ul {
        line-height: 135%;

        > li {
            margin: 0.2em 0;
        }
    }

    .mdx-img {
        max-width: 95%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        margin: 0 auto;
        display: block;
    }
}
