@import '@pendo/components/lib/es/components.css';

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Inter, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Sora, Helvetica, Arial, sans-serif;
}

[mdxtype='MDXLayout'] {
    h1 {
        font-size: 46px;
    }
    h2 {
        font-size: 36px;
    }
    h3 {
        font-size: 22px;
    }
    h4 {
        font-size: 18px;
    }
    h5 {
        font-size: 16px;
    }
    h6 {
        font-size: 14px;
    }

    [parentname='blockquote'] {
        font-size: 18px;
        line-height: 135%;
    }
}

/*
 * Targeting specifically images within the main MDX body.
 * There's certainly a better way to do this by passing MDX components,
 * something to research in the future.
 */
[mdxtype='MDXLayout'] > p > img {
    max-width: 95%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    display: block;
}
