@import '@pendo/components/lib/es/components.css';

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Inter, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Sora, Helvetica, Arial, sans-serif;
}

[mdxtype='MDXLayout'] img {
    max-width: 95%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    display: block;
}
